<h1>Edit <%= @figure.name %></h1>


<form method="post" action="/figures/<%=@figure.id%>">
<input type="hidden" name="_method" value="patch">
<label for="name">Name</label><br>
<input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"><br><br>
<label for="titles">Titles</label><br>
<% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>" <%="checked" if @figure.titles.include?(title)%>> <%= title.name %>
    <br>
<% end %>
<label for="landmarks">Landmarks</label><br>
<% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>" <%= "checked" if @figure.landmarks.include?(landmark)%>> <%= landmark.name %>
    <br>
<% end %>
<br>
New title
<br>
<label for="title[name]">Title Name</label><br>
<input type="text" name="title[name]" id="new_title"><br>
<br>

New Landmark
<br>
<label for="landmark_name">Landmark Name</label><br>
<input type="text" name="landmark[name]" id="new_landmark"><br>
<br>


<input type="submit" value="Edit Figure">

</form>